body {
    margin: 0;
}
h1, h2, h3, h4, h6, p, span {
    margin: 0;
    color: #666;
}
.container {
    max-width: 1920px;
    width: 100%;
}
/* header - padrão*/
header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}
/* navbar - padrão */
nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #68A67E;
    border: 1px solid transparent;
}

nav:after {
    clear: both;
    content: "";
    display: block;
}
.nav-container /*Padrão*/{
    max-width: 1200; /*Ajudar na montagem do site em 1200px*/
    position: relative;  /*Para centralizar */
    margin-right: auto;
    margin-left: auto;

}
#logo {
    position: fixed;
    padding: 10px;
    left: 15px;
    width: 100px;
    height: 100px;
}
.nav-container ul {
    position: fixed; /* Mandou para o canto que eu queria*/
    right: 20px;  /* Mandou para o canto que eu queria*/
    height: 100px;
    line-height: 100px;/* Para centralizar nos 100px do height */
    margin: 0;
}
.nav-container li {
    list-style: none;
    float: left;
    margin: 0 15px;/* Para descolar um do outro*/
}

.nav-container li a {
    text-decoration: none;
    color: #242625;
    transition: .5s;
}

.nav-container a:hover {
    color: #F2F2F2;
    transition: .5s;
}

/* Banner */
#main-banner {
    background: url(banner1.jpg) no-repeat;
    background-size: cover; /*Para ele preencher o máximo da tela que ele conseguir*/
    background-position: 0 40%;/*Para melhor preenchimento da foto no website*/
    position: relative; /*Para ele não pegar essa categoria de herança de outro lugar*/
    margin-top: 100px; /*Para poder desviar da barra fixa do nav*/
    padding: 15em 0;
}

#information {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15em; /*Espaço para o banner aparecer*/
    padding-bottom: 15em; /*Espaço para o banner aparecer*/
    text-align: center;
}

#information h2{
    color: #fff;
    font-size: 40px;
}

#information p {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}


/* Segundo banner */

#history{
    height: 1270px;
    background: url(banner2.jpeg);
    background-size: cover; /*Para ele preencher o máximo da tela que ele conseguir*/
    background-position: 0 100%;/*Para melhor preenchimento da foto no website*/
    /* padding: 15em 0; */
    position: relative; /*Para ele não pegar essa categoria de herança de outro lugar*/

}
#history-container {
    position: relative;
    float: left;
    width: 80%;
    padding-top: 5em;
    padding-bottom: 7em;
    margin-top: 0;
    margin-bottom: 0;
}

#history-container h2 {
    font-size: 36px;
    color: #f5e6e6;
    width: 75%;
    float: left;
    padding-bottom: 5px;
    padding-left: 10%;
}

#history-container .article-text {
    position: relative;
    font-size: 19px;
    color: #ffffff;
    width: 78%;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 10%;
    text-align: left;
    padding-bottom: 20px;
}
/* Criação do botão */
.article-btn {
    background-color: #038C33;
    border: 2px solid #fff;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
    border-color: #2E8C4F;
    color: #fff;
    position: absolute;
    left: 21.5%;
    transform: translate(-50%, -50%);/*A propriedade transform: translate(-50%, -50%); é usada para centralizar um elemento que está posicionado com position: absolute ou position: fixed ao mover o elemento 50% para a esquerda e 50% para cima em relação ao seu próprio tamanho. Isso garante que o ponto central do elemento coincida com o ponto central do seu contêiner de referência.*/
}

.article-btn:hover {
    background-color: #fff;
    color: #68A67E;
}

.article-box input[type=submit]:hover {
    background-color: #038C33;
    color: #242625;
}


.organizer {
    margin-top: 8em;
    margin-left: 5em;
    width: 30%;
    height: 20%;
    border: solid 2px black;
    border-radius: .625rem; /*Bordas*/
}

.title { 
    text-align: center;
    font-size: 80px;
    color: #666;
    margin-left: auto;
    margin-right: auto;
}
.text-container {
    font-size: 25px;
    margin-bottom: 5em;
    float: right;
}

.image {
    border-radius: .25rem; /*Bordas*/
    width: 12em;
    height: 15em;
    padding:  1em;

}
